@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --accent-color: #9d52ff;
  --secondary-color: #777777;
  --accent-color-light: rgba(255, 255, 255, 0.15);
}

body {
  margin: 0;
  overflow: hidden;
  font-family:
    'Inter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  background-color: black;
  color: white;
}

.background-blur {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.bg-accent {
  background-color: var(--accent-color);
}
